@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fortune Teller</h1>
    <h1>Your lucky number and fortune is: </h1>
    <p>@ViewBag.responseCall</p>
</div>
