@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <img src="https://webstockreview.net/images/ball-clipart-fortune-teller.jpg" alt="FortuneTeller" width="300" height="300">
        <h1 class="display-4"><b>Fortune Teller</b></h1>
        <h1>Your lucky number and fortune is: </h1>
        <p>@ViewBag.responseCall</p>

        <FORM>
            <INPUT Type="button" VALUE="View Fortune" onClick="history.go(0)">
        </FORM>
</div>
