@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <img src="https://media.istockphoto.com/vectors/gypsy-fortune-teller-with-a-crystal-ball-sitting-at-a-table-a-woman-vector-id1227545281?k=6&m=1227545281&s=612x612&w=0&h=FUVEdzdnjsFDTBgrb7bvoxX8k2pAW_79Rbr9MuQu180=" alt="FortuneTeller" width="300" height="300">
        <h1 class="display-4"><b>Fortune Teller</b></h1>
        <h1>Your lucky number and fortune is: </h1>
        <p>@ViewBag.responseCall</p>

        <FORM>
            <INPUT Type="button" VALUE="Generate new" onClick="history.go(0)">
        </FORM>
</div>
